.tableheader {
  display: flex;
  justify-content: start;
  font-size: 20px;
}


.tableheader div{
  flex: 1;
  text-align: center;

}
.tableheader div:first-child {
  flex: 0 0 50%;
}

@media  (max-width:500px) {
.tableheader {
  
  font-size: 14px;
}
}