.categorytable {
    width: 100%;
    margin-top: 20px;
}

.category {
    font-size: 18px;
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 16px;
    
}

.position:hover {
   
}

.position-info {
    display: flex;
    text-align: center;
    justify-content: start;
    
}

.position-name {
    display: flex;
    justify-content: start;
    align-items: center;
}

.down {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.name {
    flex: 1;
}

.unit_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.down img {
    width: 15px;
    height: 15px;
    
}

.position-info:hover {
    background-color: #d7a66f;
    border-radius: 5px;
     cursor: pointer;
}

.position-info div{
    flex: 1;
    text-align: center;
}

.position-info div:first-child{
    flex: 0 0 50%;
}

.description {
    border-radius: 5px;
    /* цвет фона сайта */
    background-color: #E0D1B2  
}

.description {
    display: none;
}

.show-description {
    display: block;
}

@media  (max-width:500px) {
  .category {
    font-size: 14px;
}
.position {
    font-size: 14px;
}
}
