.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 10px;
    
}

.table {
  width: 100%;
  border-radius: 24px;
  /* box-shadow: 0 8px 20px rgba(168, 14, 14, 0.877); */
  padding: 20px;
  background-color: #b6d2bf;
  border: 2px solid #d7a66f;
}

.table:hover {
  
}


.wrapper-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.searchpanel {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  padding: 0 10px;
  margin: 10px 0 20px 0;
}

#input-search {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  max-width: 230px;
  transition: all 0.8s ease-out;
  margin: 0 auto;
}

#input-search:focus {
  border-color: #d7a66f;
  outline: none;
  box-shadow: 0 0 5px rgb(215, 166, 111,0.5);
  max-width: 50%;;
}

 @media (max-width:500px) {
#input-search {
  border-color: #d7a66f;
  outline: none;
}

#input-search:focus {
  transition: none !important;
}
}

