.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 10px;
    display: flex;
}

.table {
  width: 100%;
  border-radius: 24px;
  padding: 20px;
  background-color: #b6d2bf;
  border: 2px solid #d7a66f;
  flex: 1;
}


.wrapper-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.searchpanel {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  padding: 0 10px;
  margin: 10px 0 20px 0;
}

#input-search {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  width: 230px;
  transition: all 0.8s ease-out;
  margin: 0 auto;
}

#input-search:focus {
  border-color: #d7a66f;
  outline: none;
  box-shadow: 0 0 5px rgb(215, 166, 111,0.5);
  width: 400px;
}

 @media (max-width:500px){

  #input-search {
    width: 100%;                   
    transition: none !important;
  }

    #input-search:focus {
       width: 100%;   
  }
}

