* {
  box-sizing: border-box;
}


@font-face {
  font-family: "Cormorant";
  src: url('./assets/Cormorant-Italic.ttf');
  font-style: italic;
}


@font-face {
  font-family: "Involve";
  src: url('./assets/Involve-Regular.ttf');
}


body {
  margin: 0;
  font-family: Involve, Helvetica, sans-serif;
  background: url('./assets/back.png');
  background-size: cover;
  background-attachment: fixed;
  color:#1e2a24;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  background-color: #b6d2bf;
  min-height: 100vh;
}


@media  (max-width:500px) {
  #root {
    width: 100%;
    padding: 0 10px 10px;
    min-width: 320px;
  }
}


