* {
  box-sizing: border-box;
}


@font-face {
  font-family: "Gabriele";
  src: url(./assets/Gabriela-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Gabriele";
  background: url('./assets/back.png');
  background-size: cover;
  background-attachment: fixed;
  color:#111827;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  background-color: #b6d2bf;
}


@media  (max-width:500px) {
  #root {
    width: 100%;
    padding: 0 10px 10px;
    min-width: 320px;
  }
}


